In [3]:
import pandas as pd 
import numpy as np
house_sales = "../Resources/Perth_Housing_Prices.csv"
sales_df = pd.read_csv(house_sales)
sales_df.set_index('ADDRESS', inplace=True)
sales_df.head()

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
sales_df['GARAGE'] = sales_df['GARAGE'].fillna(0)

In [5]:
sales_df['SUBURB'].value_counts()

Bertram            231
Iluka              212
Bennett Springs    211
Mindarie           209
Carramar           208
                  ...
East Perth          11
Keysbrook            9
Neerabup             8
O'Connor             8
Hope Valley          6
Name: SUBURB, Length: 314, dtype: int64

In [6]:
sales_df.columns

Index(['SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'DATE_SOLD', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH', 'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK'],
      dtype='object')

In [7]:
# column names for recombining dataframe
columns = ['SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'DATE_SOLD', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH', 'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'Prediction']

In [8]:
# create empty dataframe for recombining into
combined_df = pd.DataFrame(columns=columns)
combined_df

Empty DataFrame
Columns: [SUBURB, PRICE, BEDROOMS, BATHROOMS, GARAGE, LAND_AREA, FLOOR_AREA, BUILD_YEAR, CBD_DIST, NEAREST_STN, NEAREST_STN_DIST, DATE_SOLD, POSTCODE, LATITUDE, LONGITUDE, NEAREST_SCH, NEAREST_SCH_DIST, NEAREST_SCH_RANK, Prediction]
Index: []

In [9]:
pred_house_sell = {}
temp = {}

# loop on every suburb
for SUBURB in sales_df['SUBURB'].unique():
    # slice
    sales_slice = sales_df[sales_df['SUBURB'] == SUBURB]
    df = sales_slice.copy()

    # set X and y
    y = sales_slice['PRICE']
    X = sales_slice.drop(['SUBURB', 'PRICE', 'NEAREST_STN', 'DATE_SOLD', 'POSTCODE', 'LATITUDE', 'LONGITUDE', 
                          'NEAREST_SCH', 'NEAREST_SCH_RANK'], axis=1)
    
    # scale the data
    X_scaled = StandardScaler().fit_transform(X)

    # train, test, split
    X_train, X_test, y_train, y_test = train_test_split(X_scaled, y)

    #building linear regression model on training data
    model1= LinearRegression().fit(X_train, y_train)
    pred_house_sell[SUBURB] = model1.predict(X_test)
    
    # make prediction and add it to the sliced dataframe
    prediction = model1.predict(X_scaled)
    df['Prediction'] = prediction
   
    # rebuild full dataframe
    combined_df = pd.concat([combined_df, df], ignore_index=False)

    # print r2 score
    print('Accuracy Score:', SUBURB, r2_score(y_test, pred_house_sell[SUBURB]))  

    # build dictionary with all r2 scores
    temp[SUBURB] = r2_score(y_test, pred_house_sell[SUBURB])

# convert dictionary to dataframe
temp = pd.DataFrame.from_dict(temp, orient ='index').reset_index()

Accuracy Score: Floreat 0.5330069726629498
Accuracy Score: City Beach 0.5315510896729532
Accuracy Score: Dalkeith 0.5322122750841811
Accuracy Score: Mosman Park 0.48136286229898584
Accuracy Score: Watermans Bay 0.4120120687670653
Accuracy Score: Peppermint Grove 0.5546739596494881
Accuracy Score: Hazelmere -3.9707860882363555
Accuracy Score: Applecross 0.6552326846613681
Accuracy Score: East Fremantle 0.5425240143169201
Accuracy Score: Mindarie 0.526547697165356
Accuracy Score: Churchlands 0.6243344860356435
Accuracy Score: Swanbourne 0.4490883950716389
Accuracy Score: Rossmoyne 0.5940360650623575
Accuracy Score: Cottesloe 0.38054963388100893
Accuracy Score: North Fremantle 0.459574548046902
Accuracy Score: Mariginiup 0.05154809958948592
Accuracy Score: Darling Downs 0.39703324478586977
Accuracy Score: Gnangara 0.20909636575795465
Accuracy Score: Marmion 0.41937361567804954
Accuracy Score: Coolbinia -0.10368907961967655
Accuracy Score: Trigg 0.4852867430308285
Accuracy Score: Nedlands 0.4208555642236995
Accuracy Score: Attadale 0.7670077342362294
Accuracy Score: Henley Brook 0.7541585624299693
Accuracy Score: Bicton 0.5632435481057324
Accuracy Score: Menora 0.46670969127504514
Accuracy Score: South Perth 0.5171828790381925
Accuracy Score: Keysbrook 0.45341587239014136
Accuracy Score: West Perth -8.89413762925766
Accuracy Score: Karrinyup 0.6532059023958625
Accuracy Score: West Leederville 0.4827788256553026
Accuracy Score: Mount Pleasant 0.5330463231983309
Accuracy Score: Champion Lakes 0.46996806984334627
Accuracy Score: Guildford 0.3150141142670667
Accuracy Score: Claremont 0.5847329512668049
Accuracy Score: Mount Lawley 0.7782162207497542
Accuracy Score: South Fremantle 0.6237149800234876
Accuracy Score: Martin -1.2250343599132263
Accuracy Score: North Beach 0.2669784711913743
Accuracy Score: North Coogee 0.7082405518972699
Accuracy Score: Brigadoon -0.20605958035759842
Accuracy Score: Ardross 0.42901697851871434
Accuracy Score: Kallaroo 0.7924510040070687
Accuracy Score: Shenton Park 0.5261077170356632
Accuracy Score: Armadale -4.424319719698134
Accuracy Score: Mount Claremont 0.6973813825853061
Accuracy Score: Baskerville 0.5262625541236152
Accuracy Score: Sorrento 0.5260364356562581
Accuracy Score: Upper Swan -0.8737102361710909
Accuracy Score: Bennett Springs 0.07734031993923596
Accuracy Score: Salter Point 0.5925860569302713
Accuracy Score: Ascot 0.4421987402412808
Accuracy Score: Subiaco 0.741934129625069
Accuracy Score: Forrestdale 0.42817272408657214
Accuracy Score: Mount Hawthorn 0.2206848141364679
Accuracy Score: Crawley 0.3764253763505724
Accuracy Score: Kenwick -0.25860068265781466
Accuracy Score: Beaconsfield -6.637017868848579
Accuracy Score: Bickley 0.4124795096873547
Accuracy Score: Brentwood 0.7739340524304106
Accuracy Score: Walliston -2.2688677430517434
Accuracy Score: Midland 0.2511761654694711
Accuracy Score: Maylands 0.6935701660233518
Accuracy Score: Hillarys 0.5822722896077239
Accuracy Score: Oldbury -0.5529609629262431
Accuracy Score: Doubleview 0.6580182609754747
Accuracy Score: Wembley Downs 0.6558476873361316
Accuracy Score: Coogee 0.5595221538978605
Accuracy Score: Orange Grove -1.9866896642285168
Accuracy Score: Woodlands 0.41248611366806587
Accuracy Score: Hopeland -9.274108715100663
Accuracy Score: Winthrop 0.6140637584142195
Accuracy Score: West Swan -3.6903839233238696
Accuracy Score: Como 0.2090658259256164
Accuracy Score: Gooseberry Hill -0.5087449773154173
Accuracy Score: Darlington 0.18163121734315424
Accuracy Score: Wembley 0.027852729623925376
Accuracy Score: Yokine 0.4333720364126449
Accuracy Score: Daglish 0.5657313606603158
Accuracy Score: Wattle Grove 0.4810378269726211
Accuracy Score: Iluka 0.6528304695735194
Accuracy Score: Lathlain -0.3857230956119784
Accuracy Score: Fremantle 0.20743490956642796
Accuracy Score: Highgate 0.23925539571034293
Accuracy Score: Alfred Cove 0.2810324099312972
Accuracy Score: Waterford 0.2995498953348996
Accuracy Score: Burns Beach 0.4829074467154556
Accuracy Score: Bedfordale -0.5123322188999762
Accuracy Score: Jolimont 0.39862143248807846
Accuracy Score: Burswood 0.3520073380956842
Accuracy Score: Karnup 0.4367167390848562
Accuracy Score: Shelley 0.7757381553049331
Accuracy Score: North Perth -0.15827610601893993
Accuracy Score: Mullaloo 0.5928806920589607
Accuracy Score: Serpentine 0.6338253228927353
Accuracy Score: Pickering Brook -0.8578151062924435
Accuracy Score: Wanneroo 0.7552152331399428
Accuracy Score: Mundaring 0.4641718795263957
Accuracy Score: Kensington 0.27001481277366846
Accuracy Score: Herne Hill 0.3520697642136751
Accuracy Score: Stirling 0.7072436534604623
Accuracy Score: Gidgegannup 0.732442323468206
Accuracy Score: Jarrahdale 0.6687655490055122
Accuracy Score: Anketell -0.5509130004334983
Accuracy Score: Booragoon 0.08473890333240142
Accuracy Score: Scarborough -0.6771521295710321
Accuracy Score: Connolly 0.6754313884954657
Accuracy Score: Inglewood 0.8096450319691744
Accuracy Score: Caversham 0.646776970692874
Accuracy Score: Banjup 0.051722710467831945
Accuracy Score: Leederville -1.6655278286439303
Accuracy Score: Maida Vale 0.6865161597746621
Accuracy Score: Casuarina -0.8166891112500463
Accuracy Score: Carmel 0.05583282545927293
Accuracy Score: Gwelup 0.7795670653630862
Accuracy Score: Bullsbrook 0.628180281086986
Accuracy Score: Parkerville 0.7766479139499383
Accuracy Score: Maddington 0.7932753358209743
Accuracy Score: Mahogany Creek 0.17128340384699936
Accuracy Score: The Vines 0.4121139441448076
Accuracy Score: Ocean Reef 0.657448644078203
Accuracy Score: Wattleup -4.66473196976016
Accuracy Score: Carabooda -60.46936427362899
Accuracy Score: Cardup 0.4250838894841422
Accuracy Score: Mardella -0.3428974610915456
Accuracy Score: Glen Forrest 0.6260636917411785
Accuracy Score: Kardinya 0.9220960964505382
Accuracy Score: Helena Valley 0.7231659510275197
Accuracy Score: Bassendean 0.7130949407179765
Accuracy Score: Jandabup -1.8642904601648973
Accuracy Score: Bateman 0.7453758336218212
Accuracy Score: Oakford 0.3257934381497407
Accuracy Score: Manning 0.7047551694585665
Accuracy Score: Dianella 0.5529835404912925
Accuracy Score: Belhus -0.8195652081508891
Accuracy Score: Karawara 0.5433767937524363
Accuracy Score: Karragullen -2.882040002622376
Accuracy Score: Duncraig 0.1259106832762511
Accuracy Score: Rockingham 0.5851668366530416
Accuracy Score: Warnbro 0.5938154186923419
Accuracy Score: Shoalwater 0.5081685954732641
Accuracy Score: Roleystone 0.4797540588379253
Accuracy Score: Hovea -0.2100390306661537
Accuracy Score: Ashfield 0.5678544932518518
Accuracy Score: Haynes -0.4219805116448092
Accuracy Score: Melville 0.7824183597594203
Accuracy Score: Bull Creek 0.6656421678242771
Accuracy Score: Myaree 0.5995874519566082
Accuracy Score: Northbridge -7.009672835740128
Accuracy Score: Carine 0.5403110592308262
Accuracy Score: Palmyra 0.2854782205444376
Accuracy Score: Jandakot -0.32983058701760126
Accuracy Score: Victoria Park 0.03857250752869734
Accuracy Score: Millendon -0.3699230859056222
Accuracy Score: Neerabup -2.9806178293052508
Accuracy Score: Kalamunda 0.6916331308052532
Accuracy Score: Riverton -5.225527560469845
Accuracy Score: Joondanna -0.7182888716701881
Accuracy Score: Lesmurdie 0.729920989696604
Accuracy Score: Southern River 0.6268555854937624
Accuracy Score: White Gum Valley 0.6462986280611234
Accuracy Score: Wandi 0.7076737361782417
Accuracy Score: Willetton -0.19414181190171131
Accuracy Score: Stoneville 0.5763863677625887
Accuracy Score: Harrisdale 0.7668428390691637
Accuracy Score: Canning Vale 0.6050573681029896
Accuracy Score: Waikiki 0.7652745408977718
Accuracy Score: Murdoch 0.5238353798916895
Accuracy Score: Greenmount 0.6293706805118315
Accuracy Score: Carramar 0.6588037910161265
Accuracy Score: Wungong -8.4906743676937
Accuracy Score: Bedford 0.14242999202675388
Accuracy Score: Jindalee 0.5719398549904032
Accuracy Score: North Lake 0.2380749305115385
Accuracy Score: Bibra Lake 0.6510889770158252
Accuracy Score: Woodbridge -1.988466136828111
Accuracy Score: East Victoria Park 0.12934081641762618
Accuracy Score: South Guildford 0.6522637667780655
Accuracy Score: Mount Helena 0.3856534221884981
Accuracy Score: Dayton 0.7279583275184645
Accuracy Score: Glendalough 0.489334910278289
Accuracy Score: Safety Bay 0.6756987073068359
Accuracy Score: Sawyers Valley -0.11557329308240094
Accuracy Score: Middle Swan 0.6871228824537502
Accuracy Score: East Cannington 0.11597315044265155
Accuracy Score: Tuart Hill -0.27057273379661506
Accuracy Score: Bellevue -114.37397039783114
Accuracy Score: Secret Harbour 0.4870689849231822
Accuracy Score: Leeming 0.34838632969771177
Accuracy Score: Willagee 0.01917543648948772
Accuracy Score: Baldivis 0.6992436381134222
Accuracy Score: Quinns Rocks 0.8069606045715532
Accuracy Score: Wooroloo -0.2882217478966964
Accuracy Score: Atwell 0.7144340175068389
Accuracy Score: East Perth -1.4197145009082384
Accuracy Score: Forrestfield 0.7556127998757579
Accuracy Score: Byford 0.09045320562244863
Accuracy Score: Kelmscott 0.6688593994200805
Accuracy Score: Pearsall 0.6040825164769748
Accuracy Score: Mount Richon 0.6342287321000615
Accuracy Score: Embleton 0.5183963675887934
Accuracy Score: Two Rocks 0.9065241036326902
Accuracy Score: Cockburn Central 0.24018802230686243
Accuracy Score: Beeliar 0.4802627580798243
Accuracy Score: Bayswater -0.10813834857888338
Accuracy Score: Wilson 0.2895499287444073
Accuracy Score: Osborne Park -0.5068971804746534
Accuracy Score: Viveash 0.8076567466682945
Accuracy Score: Golden Bay 0.49843127609119986
Accuracy Score: Rivervale -0.19764073685367234
Accuracy Score: Kewdale 0.6170643444201764
Accuracy Score: Edgewater 0.3269007415035544
Accuracy Score: Hammond Park 0.5382790757206475
Accuracy Score: Hamersley 0.010688837080416014
Accuracy Score: Chidlow -0.041335597196710205
Accuracy Score: Hilton -0.03408785782155621
Accuracy Score: Boya 0.08841634902841
Accuracy Score: Eglinton 0.27493321344902855
Accuracy Score: Wellard 0.5143395374633672
Accuracy Score: Woodvale 0.6331755764099992
Accuracy Score: Carlisle 0.3799753206405695
Accuracy Score: Hilbert 0.6908684711433042
Accuracy Score: Hope Valley -6.8811097173474
Accuracy Score: Balcatta 0.7688829053661453
Accuracy Score: Kingsley 0.5127637120123534
Accuracy Score: Innaloo -0.09175681144287862
Accuracy Score: Yangebup 0.683714310003279
Accuracy Score: Madeley -0.26129955918517056
Accuracy Score: Darch 0.5262790666508173
Accuracy Score: Mundijong 0.14547583864350488
Accuracy Score: Belmont -0.4980598760512085
Accuracy Score: Landsdale 0.605476420950267
Accuracy Score: Currambine -8.900879935456187
Accuracy Score: Warwick 0.3779455198617885
Accuracy Score: St James 0.1482278133180437
Accuracy Score: Ellenbrook 0.777557991805031
Accuracy Score: Ballajura 0.5980107496643361
Accuracy Score: Joondalup 0.7107643671806025
Accuracy Score: Spearwood 0.5774880551778478
Accuracy Score: Brabham 0.04926091674978217
Accuracy Score: Success 0.169277564769878
Accuracy Score: Bentley 0.02624288303235467
Accuracy Score: Cannington 0.5726387857469692
Accuracy Score: Noranda 0.3520694776795106
Accuracy Score: Swan View 0.8695157762163721
Accuracy Score: Mount Nasura 0.5423523650745895
Accuracy Score: Piara Waters 0.6931909643639786
Accuracy Score: Redcliffe 0.021104097303827896
Accuracy Score: Samson -112.51706692793837
Accuracy Score: Cloverdale 0.014551880847199938
Accuracy Score: Queens Park 0.17121887282940795
Accuracy Score: Aubin Grove 0.6616245041302014
Accuracy Score: Singleton 0.4867391446236534
Accuracy Score: Padbury 0.16488088905905285
Accuracy Score: Greenwood 0.22240930375611978
Accuracy Score: Banksia Grove 0.6753805018976906
Accuracy Score: Jane Brook 0.3764474697008321
Accuracy Score: Yanchep 0.7363376197216135
Accuracy Score: Tapping 0.5070091484028239
Accuracy Score: Parkwood -0.07292360921495633
Accuracy Score: Kiara 0.2900636891906049
Accuracy Score: Mirrabooka 0.19297613637551492
Accuracy Score: Hamilton Hill -0.7277574868727157
Accuracy Score: Eden Hill 0.6101016961554285
Accuracy Score: Morley 0.6536799429989589
Accuracy Score: Alkimos 0.25976291821646114
Accuracy Score: Marangaroo 0.5470376758976085
Accuracy Score: Alexander Heights 0.2513458512467339
Accuracy Score: Sinagra 0.15998154805641385
Accuracy Score: Beldon 0.3086640734727656
Accuracy Score: Ferndale 0.5726318204642504
Accuracy Score: Craigie 0.11693698674114328
Accuracy Score: Port Kennedy 0.49108171235158293
Accuracy Score: Clarkson 0.7210261274715445
Accuracy Score: Hocking 0.37572001996677185
Accuracy Score: Coolbellup -1.221103157502113
Accuracy Score: Midvale 0.027584402239553718
Accuracy Score: Heathridge -0.25213073830698196
Accuracy Score: Kinross 0.624605188012602
Accuracy Score: Ashby 0.2849940769685039
Accuracy Score: Aveley 0.7914554332370116
Accuracy Score: Thornlie 0.6339228169784263
Accuracy Score: High Wycombe 0.5492030888846116
Accuracy Score: Beckenham 0.10822056330034291
Accuracy Score: Butler 0.6745182586227101
Accuracy Score: Westminster -0.5976909112258539
Accuracy Score: Balga -0.2288305124324661
Accuracy Score: Langford 0.31183882486142045
Accuracy Score: O'Connor 0.4553092344213002
Accuracy Score: South Lake 0.2932542144259559
Accuracy Score: Huntingdale -0.014642685506016884
Accuracy Score: Lynwood -0.14995825341650915
Accuracy Score: Nollamara 0.6748923312563738
Accuracy Score: Lockridge -0.11109499315083093
Accuracy Score: Ridgewood 0.3297692335540252
Accuracy Score: Beechboro 0.4417390725743776
Accuracy Score: Bertram 0.5618864282230998
Accuracy Score: Orelia -1.6391925198776502
Accuracy Score: Hillman -0.0031003904605810817
Accuracy Score: Koondoola -0.07192269198546097
Accuracy Score: Cooloongup -0.10250224677116604
Accuracy Score: Girrawheen 0.13573288862886623
Accuracy Score: Leda 0.6008739419409579
Accuracy Score: Seville Grove -0.2806064856206745
Accuracy Score: Calista 0.276053336372194
Accuracy Score: Camillo 0.22806520767585303
Accuracy Score: Merriwa 0.15145097010487696
Accuracy Score: Gosnells 0.10027710073074236
Accuracy Score: Stratton -0.09421813848731864
Accuracy Score: Parmelia 0.030735578093878835
Accuracy Score: Brookdale 0.13725143274900597
Accuracy Score: Medina 0.5958881172256353
Accuracy Score: Koongamia 0.15872124257844988
Accuracy Score: Kwinana Town Centre 0.07112783004887135

In [8]:
# rename columns for merging
temp.columns = ['SUBURB', 'r2 Score']
temp.head()

          SUBURB  r2 Score
0        Floreat  0.567241
1     City Beach  0.359261
2       Dalkeith  0.474599
3    Mosman Park  0.529051
4  Watermans Bay  0.556062

In [9]:
combined_df.head(2)

,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK,Prediction
35 Oakdale Street,Floreat,2440000,6,4,2,809,442,2009,6800,Loch Street Station,3500,2018-01-08,6014,-31.94060,115.78772,NEWMAN COLLEGE,1.936173,44.0,2.236837e+06
127 Grovedale Road,Floreat,2325000,4,2,2,709,382,2013,6100,Karrakatta Station,3000,2020-01-02,6014,-31.94122,115.79516,NEWMAN COLLEGE,2.135921,44.0,1.688877e+06

In [10]:
# merge r2 Score onto recombined dataframe
sales_df_r2 = pd.merge(combined_df.reset_index(), temp, how='left', on=['SUBURB', 'SUBURB']).set_index('index')
sales_df_r2.head(2)

,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK,Prediction,r2 Score
index,,,,,,,,,,,,,,,,,,,,
35 Oakdale Street,Floreat,2440000,6,4,2,809,442,2009,6800,Loch Street Station,3500,2018-01-08,6014,-31.94060,115.78772,NEWMAN COLLEGE,1.936173,44.0,2.236837e+06,0.567241
127 Grovedale Road,Floreat,2325000,4,2,2,709,382,2013,6100,Karrakatta Station,3000,2020-01-02,6014,-31.94122,115.79516,NEWMAN COLLEGE,2.135921,44.0,1.688877e+06,0.567241

In [11]:
# remove nan's of r2 scores that didn't have enough data to calculate
sales_df_r2['r2 Score'] = sales_df_r2['r2 Score'].fillna(0)

In [12]:
sales_df_r2.head()

,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK,Prediction,r2 Score
index,,,,,,,,,,,,,,,,,,,,
35 Oakdale Street,Floreat,2440000,6,4,2,809,442,2009,6800,Loch Street Station,3500,2018-01-08,6014,-31.940600,115.787720,NEWMAN COLLEGE,1.936173,44.0,2.236837e+06,0.567241
127 Grovedale Road,Floreat,2325000,4,2,2,709,382,2013,6100,Karrakatta Station,3000,2020-01-02,6014,-31.941220,115.795160,NEWMAN COLLEGE,2.135921,44.0,1.688877e+06,0.567241
11 Kilkenny Road,Floreat,2300000,4,3,4,809,292,1980,7000,Loch Street Station,4100,2020-01-12,6014,-31.934491,115.787759,NEWMAN COLLEGE,1.256936,44.0,1.707688e+06,0.567241
11 Shannon Street,Floreat,2200000,3,2,2,809,266,2005,7300,Loch Street Station,4000,2020-01-10,6014,-31.936180,115.783780,NEWMAN COLLEGE,1.483140,44.0,1.584590e+06,0.567241
58 Oceanic Drive,Floreat,2200000,5,4,4,809,100,1956,7300,Loch Street Station,3800,2018-01-02,6014,-31.937999,115.783754,NEWMAN COLLEGE,1.681339,44.0,1.635198e+06,0.567241

In [13]:
# write csv to file
sales_df_r2.to_csv('Perth Housing Predictions and r2.csv', sep=',')

In [15]:
temp.to_csv('suburb_r2_scores.csv', sep=',')